<button (click) = "searchMenuToggle()">Home</button>


<div *ngIf = "searchMenu">
    <input type = "text" id = "searchBar" value = "Missouri Bugs">
    <button (click) = "search()">Search</button>
</div>

<div *ngIf = "listAll">

<button *ngFor = "let result of results" (click) = "display(result.id)">{{result.commonName}}</button> 

</div>
<div *ngIf = "displayEntry >= 0">
    <h1>
        {{bugs[displayEntry].commonName}}
    </h1>
    <h3>
        {{bugs[displayEntry].scientificName}}
    </h3>
    <img src = "api/{{bugs[displayEntry].url}}">
</div>